body
{
  background-color:#9042f5;
margin:0px;
  }
main{
  margin-left:20px;
  margin-right:20px;
  }
h1
{
  text-align:center;
  color:#fff;
  }
.search-container{
  display : flex;
  justify-content:right;
  align-items:center;
  width:100%;
  margin:20px auto;
}
.search-container input type="search" {
  width: 70px;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  margin-right:10px;
}
.search-container button {
  width: 70px;
  height: 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.search-container button:hover {
  background-color: #3e8e41;
}
.navbar ul{
  list-style-type : none;
  background-color:#841dc4;
    padding:0px;
  margin:0px;
  overflow:hidden;
  }
.navbar a{
  color:white;
  text-decoration:none;
  padding:15px;
  display : block;
  text-align:center;
  }
.navbar li {
  float:left;
    }
.navbar a:hover{
  background-color:#972399;
}
h2{
    text-align:center;
    color:white;
  }
  p{
    text-align:center;
    color:white;
  }
.video-container{
  display:flex;
  justify-content:space-between;
}
.video1, .video2{
  width:95%;
  height:95%;
}
.video1{
  position:auto;
  background-color:#f2f2f2;
  padding:10px;
}
.video2{
  position:auto;
  background-color:#f2f2f2;
  padding:10px;
}
.footer-container{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color:#841dc4;
  color:#fff;
  padding:20px;
  text-align:left;
}
.dropdown{
  position:relative;
}
.dropdown-toggle{
  background -color:#4CAF50;
  color:#fff;
  padding:10px 20px;
  barder:none;
  barder-radius:5px;
  cursor:pointer;
}
.dropdown-toggle:hover{
  background-color: #3e8e41;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}
.dropdown-menu li {
  margin-bottom: 10px;
}
.dropdown-menu li a {
  color: #337ab7;
  text-decoration: none;
}
.dropdown-menu li a:hover {
  color: #23527c;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
